.header {
    width: 800px;
    height: 20px;
}

.body {
    width: 800px;
    height: 600px;
}

.center-content {
    width: 50%;
    height: 50%;
    display: flex;
}

.left {
    background-color: red;
    width: 50%;
    height: 100%;
}

.right {
    background-color: blue;
    width: 50%;
    height: 100%;
}

.login {
    background-color: green;
    height: 70%;
    display: flex;
    justify-content: center;
}

.login-menu {
    background-color: white;
    width: 70%;
    height: 50%;
    
}

.description {
    background-color: yellow;
    height: 30%;
}

.footer {
    background-color: pink;
    height: 50px;
}